@page "/contact-us"

<PageTitle>Contact Us - OutScribed</PageTitle>

<HeaderComponent Tab="@NavTabs.None" />

<NavigationComponent Tab="@NavTabs.Contact" />

<main>

    <div class="text-container">

        <div class="text-container-header">

            <h1 class="content-heading">
                Get In Touch
            </h1>

            <h2 class="content-summary">
                Our Contact Details
            </h2>

        </div>

        <div class="text-container-contents">

            <h3>
                Email
            </h3>
            <p>
                Contact us via email by sending a message to <a href="mailto:info@outscribed.com">info@outscribed.com</a>
            </p>
           
        </div>

    </div>

</main>

<FooterComponent />
