@model OutScribed.Infrastructure.EmailGateway.ViewModels.SendEmailVerificationOtpMailVM

@{
    Layout = "/Views/Email/_LayoutEmail.cshtml";
    ViewBag.Title = Model.Topic;
}

<p style="font-family: 'Open Sans',sans-serif; font-size: 16px; line-height: 22px; text-align: left; margin-bottom: 10px;  ">Hello,</p>
<p style="font-family: 'Open Sans',sans-serif; font-size: 16px; line-height: 22px; text-align: left; margin-bottom: 10px; "> You requested for a password recovery. If it was not you, please ignore this message.</p>
<p style="font-family: 'Open Sans',sans-serif; font-size: 16px; line-height: 22px; text-align: left; margin-bottom: 10px; "> Use the token below to complete the password recovery process.</p>
<p style="font-family: 'Open Sans',sans-serif; font-size: 40px; line-height: 50px; margin-top:15px; margin-bottom:15px; font-weight: 900; text-align: center; "> @Model.Otp</p>


