<div class="progress-image-container-top fails">
    <div class="progress-image-container-mid fails">
        <div class="progress-image-container fails">
            <i class="fa fa-remove"></i>
        </div>
    </div>
</div>
