<div class="loading-container">

    <p class="loading-message"> @Type</p>

    <div class="spinner-container">
        <div class="spinner"></div>
    </div>

</div>

@code {
    [Parameter]
    public required string Type { get; set; }
}
