<div class="progress-image-container-top success">
    <div class="progress-image-container-mid success">
        <div class="progress-image-container success">
            <i class="fa fa-check"></i>
        </div>
    </div>
</div>
