@page "/about-us"

<PageTitle>About Us - OutScribed</PageTitle>

<HeaderComponent Tab="@NavTabs.None" />

<NavigationComponent Tab="@NavTabs.About" />

<main>

    <div class="text-container">

        <div class="text-container-header">

            <h1 class="content-heading">
                <span class="logo-text">OutScribed</span>: A Re-Imaginative, Interpretative & Predictive Analysis Platform
            </h1>

            <h2 class="content-summary">
               About Us
            </h2>
        </div>

        <div class="text-container-contents">

            <h3>
                The Revolving World of Events.
            </h3>

            <p>
                Every second, we are bombarded by hundreds of headlines each heralding another
                unfolding event.
            </p>
            <p>
                While conventional journalism only skims at the surface; we aim to dig deeper,
                decode meanings, expose hidden truths, highlight implications, and reframe 
                existing perspectives while introducing new ones.
            </p>
            <p>
                We believe that consuming news stories should extend beyond reading cold facts.
                It should be an experience, a conversation, a journey into deeper understanding,
                engaging, thought-provoking, and yes, even fun.
            </p>

            <h3>
                Anything That Can Happen Is Happening Now. Somewhere.
            </h3>

            <p>
                We draw our inspiration from the multiverse theory which postulates that our 
                universe is not alone, but exists as one of many parallel or alternate 
                universes, each with its own sets of actions, reactions, and truths.
            </p>

            <p>
                This idea of a multiverse fuels our innovative approach: our
                stories are often two-folds allowing us to present solid, verifable facts of 
                events in our world while also bequeathing us the liberty to explore creative 
                retellings - using artistic tools such as allegories, satires, parodies, 
                analogies, or clever imagery - where these are assumed to be facts unfolding 
                in a parallel universe.
            </p>

            <h3>
                Our Core Tenets
            </h3>

            <p>
                <strong> Re-Imaginative  </strong> - By studying existing facts and employing intelligent deductions,
                we attempt to recreate what history forgot, erased, or ignored — not to revise facts, but to restore meaning.
            </p>

            <p>
                <strong> Interpretative  </strong> - We look beneath the headlines and attempt to
                untangle the perplexities of unfolding events by not only seeking rational answers
                to questions but most importantly asking new ones.
            </p>

            <p>
                <strong> Predictive  </strong> - Invoking patterns of history and current trends & signals,
                we make educated guesses on what the future would be.
            </p>

            <h3>
                What We Are Not.
            </h3>

            <p>
                We are not fake news. We’re not clickbait. We make no attempt to deceive
                or manipulate our readers. 
            </p>

            <p>
                We do not break news. We break the news open.
            </p>

            <p>
                We are not conspiracy theorists. Even where we speculate, we ground these in
                proveable facts.
            </p>

            <h3>
                The many Sides of Truths.
            </h3>

            <p>
                Multiplicity of truths suggests that truth is not singular or absolute but can exist
                in multiple forms, depending on perspective, context, and interpretation thus the idea
                of a single, objective reality is a fallacy.
            </p>

            <p>
                Our writers cuts across every aspect of human association be it religion, 
                political or ideological leanings, geography, gender, and age so you are assured 
                that whatever truth you seek, you shall find.
            </p>

            <h3>
                Join the Conversation.
            </h3>

            <p>
                This is your space to explore, reflect, and enjoy news in a way that’s both informative and entertaining. Whether you’re a creative thinker, curious news follower, a student of current affairs, or simply someone who loves a good story, we invite you to dive in and discover a new way to look at the world—where truth meets creativity, and facts come alive with imaginative flair.
            </p>

            <p>
                We know that the conversation doesn’t end with reading. That’s why we offer several ways for you to actively shape the experience:
            </p>

            <ul>
                <li>
                    <strong>Comment & Rank</strong>: Share your thoughts directly on each tale. Whether you agree, disagree, or have additional perspectives, your comment cultivates a richer dialogue. Plus, by ranking tales based on your perception, you help build a community-driven metric that echoes what truly resonates with our audience.
                </li>
                <li>
                    <strong>Create Threads</strong>: Have a unique insight or an alternative take on a tale? Perhaps it has sparked other matters arising? With our Thread feature, you can spin off a tale that delves deeper into issues raised by the original piece. It’s your opportunity to extend the conversation, dissect complexities, or highlight nuances that matter to you.
                </li>
                <li>
                    <strong>Follow Watchlists</strong>: Stay ahead of the curve by exploring our watchlists. This feature displays current stories we’re monitoring—stories that are ripe for interpretation and transformation. It gives you a sneak peek at the topics that may soon evolve into full-blown narratives on the platform.
                </li>
            </ul>

        </div>

    </div>

</main>

<FooterComponent />
