<!DOCTYPE html>
<html lang="en">
<head>
</head>

<body>

    <div style="width: 500px; max-width: calc(100% - 20px); margin: 0 auto; border-radius: 8px; border: 1px solid #D8DEE4;  background-color:#FFFFFF;">

        <h1 style="font-family: Tiempos Fine,serif; text-transform:capitalize; font-size: 22px; line-height:28px; font-weight: 600;  padding: 10px 10px 0 10px;">
            @ViewBag.Title
        </h1>

        <div style="padding: 10px;">
            @RenderBody()
        </div>

        <div style="background-color:#F3F5F9; padding: 20px 10px; border-top: 1px solid #D8DEE4; text-align: center; border-radius:0 0 8px 8px;">

            <div style="margin-bottom: 20px;">
                <img src="https://coversfiles.nyc3.cdn.digitaloceanspaces.com/logos/outscribed-logo-email.png" style="width:auto; height: 35px; max-width: 80%;" />
            </div>

            <p style="font-weight: 600; margin-bottom: 5px;  font-size: 13px; line-height: 16px; font-family: Fakt,sans-serif; ">
                THE TRUTH, THE FICTION, & EVERYTHING IN-BETWEEN
            </p>
            <p style="font-family: Fakt,sans-serif; font-size: 16px; line-height: 18px;">
               Interpretative News & Events Analysis Paltform
            </p>
          
            <p style="font-family: Fakt,sans-serif; font-weight: 600; font-size: 14px; line-height: 16px;">
                <a href="https://www.outscribed.com" style="color:#0000CD">Home</a><span style="margin: 0 10px;">|</span><a href="https://www.outscribed.com/about-us" style="color:#0000CD">About Us</a><span style="margin: 0 10px;">|</span><a href="mailto:info@outscribed.com" style="color:#0000CD">Contact Us</a>
            </p>
            <p style="font-family: Fakt,sans-serif; font-weight: 600; font-size: 13px; line-height: 16px;">
                ©2021. All Rights Reserved.
            </p>
        </div>

    </div>

</body>
    
</html>
