@model OutScribed.Infrastructure.EmailGateway.ViewModels.SendResendPasswordRecoveryOtpMailVM

@{
    Layout = "/Views/Email/_LayoutEmail.cshtml";
    ViewBag.Title = Model.Topic;
}

<p style="font-family: Fakt,sans-serif; font-size: 16px; line-height: 22px; margin-bottom:5px;"> You requested for a resend of password recovery token.</p>
<p style="font-family: Fakt,sans-serif; font-size: 16px; line-height: 22px; margin-bottom:5px;"> Use the token below to complate the password recovery process.</p>
<p style="font-family: Fakt,sans-serif; font-size: 30px; line-height: 40px; font-weight: 900; margin: 20px 0; "> @Model.Otp</p>
